@import "tailwindcss";

:root {
}

@theme inline {
  --font-sans: var(--font-playfair);
  --font-heading: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* Headings use Manrope */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), ui-sans-serif, system-ui;
}

/* Body uses Playfair */
body {
  font-family: var(--font-sans), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}
